.App {
  font-family: sans-serif;
  text-align: center;
}
.input {
  width: 40%;
  margin: auto;
  padding-bottom: 2%;
}
button {
  background-color: rgb(117, 201, 250);
  border: none;
  padding: 8px;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(115, 167, 199);
}
input {
  border: none;
  background-color: rgb(205, 235, 253);
  padding: 8px;
  width: 55%;
  font-size: 15px;
}
table {
  border-collapse: collapse;
  width: 30%;
  margin: auto;
}
th,
td {
  border: 1px solid #ffffff;
  padding: 8px;
  font-size: 15px;
}
th {
  background-color: rgb(117, 201, 250);
}
td {
  text-align: left;
  background-color: rgb(205, 235, 253);
}
